// = Colors =
$color__light: #ffffff;
$color__dark: #333333;

// = Font sizes =
$font__default: 1.6rem;

// = Font weights =
$font__regular: 400;

// = Media queries =
$media__sm: 576px;
$media__sm: 768px;
$media__md: 992px;
$media__lg: 1200px;
